<div class="backgroudColor textColor">
    <div>
      <button class="vinculo">Developers</button> > <button class="vinculo">User</button>
    </div>
    
    <section class="presentacion">
        <div class="presentacionDev text-center">
            <h2 class="text-center titleH2">Edwin Alejandro Castill Arroyo</h2>
            <p>Hello, I am passionate of SOFTWARE DEVELOPMENT AND MANAGEMENT I am 18 years old, 
                I am passionate about technology, I like to constantly learn new things related 
                to programming, my main hobby is Computer Security and Cybersecurity.
            </p>

            <button class="seeProjects">Projects</button>
        </div>
        
        <div class="imgDev ">
            <img src="../../assets/imagenes/edwin.png"> 
        </div>
    </section>
</div>
  
  