<div class="backgroudColor textColor">
    <div>
      <button class="vinculo">Developers</button> > <button class="vinculo">User</button> > <button class="vinculo">Projects</button>
      <h2 class="text-center titleH2">User's Projects</h2>
    </div>
    
    <div class="contenedorDeveloperProjects">
      <div class="diseñodivDeveloperProjects text-center diseñodivDevelopersMarco">
        <p>API</p>
        <img src="../../assets/imagenes/api.png"><br><br>
        <button class="moreInfo">More info</button>
      </div>
  
      <div class="diseñodivDeveloperProjects text-center diseñodivDevelopersMarco">
        <p>Password Generator</p>
        <img src="../../assets/imagenes/password-generator.png"><br><br>
        <button class="moreInfo">More info</button>
      </div> 
  
      <div class="diseñodivDeveloperProjects text-center diseñodivDevelopersMarco">      
        <p>Taller Mecanico</p>
        <img src="../../assets/imagenes/mecanicos.png"><br><br>
        <button class="moreInfo">More info</button>
      </div>
    </div>
  </div>
  
  