<h2 class="proyectosTitle text-center">{{ title }}</h2>

<div class="contenedorProjects">
  <div class="diseñodivProjects text-center diseñodivProjectsMarco" *ngFor="let project of projects" (click)="toggleDescription(project)">
    <h2>{{ project.title }}</h2>

    <img [src]="project.image" [alt]="project.title"><br><br>

    <a target="_blank" [href]="project.deployedUrl"class="botonProjects">{{ irAplicacion }}</a><br><br>
    <p *ngIf="project.showDescription">{{ project.description }}</p>
  </div>
</div>
