.textColor {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}


/* Inicio Desarrolladores */
.contenedorProjects {
    display: inline-flex;
    flex-wrap: wrap;
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.diseñodivProjects {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 100px;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 30px;
    width: 28%;
}

.diseñodivProjects img  {
    width: 60%;
}

.diseñodivProjectsMarco {
    border: 1px solid #ec5151;
    border-radius: 20%;
}


@media screen and (max-width: 999px) {
	.diseñodivProjects {
		width: 40%;
	}
}


@media screen and (max-width: 685px) {
	.diseñodivProjects {
		width: 60%;
		margin-left: 15%;
	}
}

@media screen and (max-width: 1000px) {
	.textColor {
		margin-top: 0px;
	}
}
/* Fin Desarrolladores */


/* Inicio Presentacion */
.presentacion {
	height: 100%;
	width: 99%;
	margin: 5px;
	text-align: center;
	margin: 10px;
	padding-bottom: 1px;
	padding-right: 2px;
	padding-top: 40px;
}

.conteiner {
	width: 90%;
}

.tamaño-title {
	font-size: 2rem;
}

.tamaño-text {
	font-size: 1.2rem;
}

.botonProjects {
  border: 1px solid #ec5151;
  color: #d65d5d;
  padding: 10px;
	text-decoration: none;
}

@media screen and (min-width: 1000px) {
	.conteiner {
		width: 110%;
		margin-left: 95px;
	}

	.tamaño-title {
		font-size: 2.4rem;
	}

	.tamaño-text {
		font-size: 1.5rem;
	}

	.grid-conteiner {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.presentacion {

		padding-top: 80px;
	}
}

@media screen and (max-width: 400px) {
  .diseñodivProjects {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }
}
/* Fin presentacion */


/* inicio graphic de la imagen de inicio */
.graphic {
	display: grid;
	padding-top: 3rem;
	grid-template-columns: 35% 1fr;
}

.graphic_man {
	width: 65%;
	grid-column-start: 2;
	height: 95%;
}

@media screen and (max-width: 1120px) {
	.graphic {
		display: grid;
		padding-top: 5rem;
		grid-template-columns: 45% 1fr;
	}
	.graphic_man {
		width: 85%;
		grid-column-start: 2;
		height: 300px;
	}
}

@media screen and (max-width: 999px) {
	.graphic {
		display: grid;
		padding-top: 1rem;
		grid-template-columns: 35% 1fr;
	}
	.graphic_man {
		width: 40%;
		grid-column-start: 2;
		height: 300px;
	}
}

@media screen and (max-width: 800px) {
	.graphic {
		display: grid;
		padding-top: 1rem;
		grid-template-columns: 20% 1fr;
	}
	.graphic_man {
		width: 50%;
		grid-column-start: 2;
		height: 300px;
	}
}

@media screen and (max-width: 650px) {
	.graphic {
		display: grid;
		padding-top: 1rem;
		grid-template-columns: 20% 1fr;
	}
	.graphic_man {
		width: 70%;
		grid-column-start: 2;
		height: 300px;
	}
}
/* fin graphic de la imagen de inicio */


/* (Pagina Cursos) Inicio de Cursos */
.img_certificados {
	width: 25%;
	height: 220px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	border: 2px solid #0489B1;
}

.img_certificados:hover {
  	transform: scale(1.1);
}

@media screen and (max-width: 1200px) {
	.img_certificados {
		width: 30%;
		height: 220px;
	}
}

@media screen and (max-width: 1100px) {
	.img_certificados {
		width: 35%;
		height: 220px;
	}
}

@media screen and (max-width: 940px) {
	.img_certificados {
		width: 40%;
		height: 230px;
	}
}

@media screen and (max-width: 800px) {
	.img_certificados {
		width: 40%;
		height: 210px;
	}
}

@media screen and (max-width: 700px) {
	.img_certificados {
		width: 45%;
		height: 200px;
		margin-left: 10px;
		margin-right: 10px;
	}
}

@media screen and (max-width: 600px) {
	.img_certificados {
		width: 45%;
		height: 170px;
		margin-left: 5px;
		margin-right: 5px;
	}
}

@media screen and (max-width: 530px) {
	.img_certificados {
		width: 80%;
		height: 230px;
		margin-left: 35px;
		margin-right: 25px;
	}
}

.certificadosTitle {
  text-align: center;
  padding-bottom: 20px;
  font-size: 45px;
}
/* (Pagina Cursos) Fin de Cursos */
