<div class="backgroudColor textColor">
  <div>
    <button class="vinculo">Developers</button>
    <h2 class="text-center titleH2">Developers</h2>
  </div>
  
  <div class="contenedorDevelopers">
    <div class="diseñodivDevelopers text-center diseñodivDevelopersMarco">
      <p>Edwin Alejandro Castillo Arroyo</p>
      <img src="../../assets/imagenes/edwin.png"><br><br>
      <button class="moreInfo">More info</button>
    </div>

    <div class="diseñodivDevelopers text-center diseñodivDevelopersMarco">
      <p>Edwin Alejandro Castillo Arroyo</p>
      <img src="../../assets/imagenes/edwin.png"><br><br>
      <button class="moreInfo">More info</button>
    </div> 

    <div class="diseñodivDevelopers text-center diseñodivDevelopersMarco">      
      <p>Edwin Alejandro Castillo Arroyo</p>
      <img src="../../assets/imagenes/edwin.png"><br><br>
      <button class="moreInfo">More info</button>
    </div>

    <div class="diseñodivDevelopers text-center diseñodivDevelopersMarco">
      <p>Edwin Alejandro Castillo Arroyo</p>
      <img src="../../assets/imagenes/edwin.png"><br><br>
      <button class="moreInfo">More info</button>
    </div>
 
    <div class="diseñodivDevelopers text-center diseñodivDevelopersMarco">
      <p>Edwin Alejandro Castillo Arroyo</p>
      <img src="../../assets/imagenes/edwin.png"><br><br>
      <button class="moreInfo">More info</button>
    </div>
    
    <div class="diseñodivDevelopers text-center diseñodivDevelopersMarco">
      <p>Edwin Alejandro Castillo Arroyo</p>
      <img src="../../assets/imagenes/edwin.png"><br><br>
      <button class="moreInfo">More info</button>
    </div>
  </div>
</div>

