<!--
<p>{{ 'welcomeMessage' | translate }}</p>
<p>{{ 'loginButton' | translate }}</p>
<p>{{ 'registerButton' | translate }}</p>
-->
<button (click)="cambiarIdioma('es')">Español</button>
<button (click)="cambiarIdioma('en')">English</button>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="body">
    <app-desarrollador></app-desarrollador>
    <app-proyectos-desarrollador></app-proyectos-desarrollador>
    <app-certificados-desarrollador></app-certificados-desarrollador>

    <footer> <!-- pie de pagina -->
        <section class="buttons_iconos">
        <a target="_blank" href="https://ultramsg.com/m/3PJYMWQ" class="fa fa-whatsapp acortar_icono_left"></a>
            <a target="_blank" href="https://github.com/EdwinC27" class="fa fa-github acortar_icono_medio_one"></a>
            <a target="_blank" href="mailto:edwin.a.castillo.27@gmail.com" class="fa fa-envelope acortar_icono_medio_two"></a>
            <a target="_blank" href="https://www.linkedin.com/in/edwin-alejandro-castillo-arroyo-276226243/" class="fa fa-linkedin acortar_icono_right"></a>
        </section>
    </footer>
</div>
