<div class="backgroudColor textColor">
    <div>
        <button class="vinculo">Developers</button> > <button class="vinculo">User</button> > <button class="vinculo">Projects</button> > <button class="vinculo">Project</button>
    </div>
    
    <section class="presentacion">
        <div class="presentacionDev text-center">
            <h2 class="text-center titleH2">API</h2>
            <p>Accept RESTful requests that take city name or long latitude coordinates as 
                a parameter and return a playlist suggestion based on temperature.
            </p>
        </div>
        
        <div class="imgDev ">
            <img src="../../assets/imagenes/api.png"> 
        </div>
    </section>
</div>